:root {
    --search-buttons: rgb(24, 26, 27);
    --search-buttons-hover: rgb(15, 16, 17);
    --sort-buttons: #021526;
    --sort-buttons-hover: #03213b;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
    color: white;
    text-decoration: none;
}
button {
    box-shadow: 3px 3px 10px black;
}
#container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgb(11, 11, 22);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll;
}
#page-header {
    width: 100%;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 4rem;
    margin: 0;
}
.search-bar-large {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.search-bar-small {
    width: 50%;
    height: 3rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 1.5%;
    right: 1%;
}
#search-div {
    width: 100%;
    display: flex;
    justify-content: center;
}
#search-buttons-div {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.search-bar-elements {
    width: 22%;
    height: 3.3rem;
    font-size: calc(1rem + 1vmin);
    border-radius: 8px;
    color: white;
    background-color: var(--search-buttons);
    transition: .2s;
    text-align: center;
}
#search {
    width: 50%;
    height: 3rem;
    font-size: 2rem;
    border-radius: 10px;
    color: white;
    background-color: rgb(43, 42, 51);
}
#movie-display {
    margin-top: 1rem;
    color: white;
    font-size: 1.7rem;
    text-align: center;
}

.sorting-buttons:first-child {
    margin-left: 4.5rem;
}
.sorting-buttons {
    width: 10%;
    font-size: 1.5rem;
    padding: .6rem;
    margin: 0 .7rem;
    background-color: var(--sort-buttons);
    color: white;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 10px;
    transition: .3s;
}
.sorting-buttons:hover {
    background-color: var(--sort-buttons-hover);
    border-radius: 5px;
    transition: .3s;
}
.active-button {
    background-color: var(--sort-buttons-hover);
    border-radius: 5px;
}
.movie-img {
    max-height: 450px;
    width: 100%;
}
.movie-information {
    width: 300px;
    height: 565px;
    margin: 2rem;
    transition: .2s;
}
.movie-information:hover {
    transform: scale(103%);
    transition: .2s;
}
.movie-information button {
    width: 25%;
    font-size: .8rem;
    padding: .6rem .2rem .6rem .2rem;
    background-color: var(--sort-buttons-hover);
    color: white;
    border: 1px solid rgb(53, 71, 77);
    transition: .3s;
}
.movie-information button:hover {
    background-color: var(--sort-buttons);
    border-radius: 6px;
    transition: .3s;
}
.movie-buttons {
    display: flex;
    justify-content: center;
}
.info-button:hover ~ .info {
    display: block;
}
.info-button:hover ~ .movie-img {
    display: none;
}
.info {
    width: 320px;
    max-height: 490px;
    position: relative;
    display: none;
    font-size: 1rem;
    overflow-y: hidden;
    color: white;
}
.info p {
    margin: 0;
}
.overview-button:hover ~ .overview {
    display: block;
}
.overview-button:hover + .movie-img {
    display: none;
}
.overview {
    width: 280px;
    display: none;
    padding: .5rem;
    color: white;
}
.movie-names {
    color: white;
    font-size: 1.3rem;
    text-align: center;
}
#movie-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.movie-container {
    width: 100%;
    height: 40rem;
}
#more-data-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#more-data-buttons button {
    width: 20%;
    height: 3rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#watch-list {
    width: 12rem;
    height: 3rem;
    position: absolute;
    top: 2%;
    margin-left: 4.5rem;
    font-size: 1.2rem;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 5px;
    transition: .2s;
    background-color: var(--search-buttons);
    color: white;
}
#watch-list:hover {
    background-color: var(--search-buttons-hover);
    border-radius: 7px;
    transition: .2s;
}
#popularity-button {
    margin-left: 4.5rem;
}
#no-movies-found {
    color: white;
    padding: 2rem;
    font-size: 2.2rem;
}
.view-watch-list {
    font-style: italic;
}
#sorting-filters {
    width: 100%;
    display: flex;
    align-items: center;
}
#filters {
    width: 13rem;
    height: 3rem;
    position: absolute;
    right: 3.9%;
    color: white;
    z-index: 2;
}
#filters h3 {
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-size: 1.5rem;
}
#filter-sections {
    display: none;
}
.filter-section {
    display: flex;
    flex-direction: column;
    background-color: var(--search-buttons);
    border: 1px dotted black;
    padding-bottom: 13px;
}
.filter-type {
    padding: 4px;
}
.filter-type label {
    font-size: 1.3rem;
    margin-left: 5px;
}
.filter-type input {
    width: 20px;
    height: 20px;
    float: left;
}
#filters button {
    width: 13rem;
    height: 3rem;
    font-size: 1.5rem;
    box-shadow: 0px 0px 0px;
    border: 1px solid rgb(175, 175, 175);
    color: white;
    background-color: var(--search-buttons);
}

@media (max-width: 1350px) {
    .search-bar-elements {
        width: 24%;
        font-size: calc(.9rem + .8vmin);
    }
    #search, #search-buttons-div {
        width: 75%;
    }
}
@media (max-width: 750px) {
    .search-bar-elements {
        width: 45%;
        margin: .4rem;
    }
    #search, #search-buttons-div {
        width: 85%;
        flex-wrap: wrap;
    }
    #movie-display {
        font-size: 1.3rem;
    }
    #page-header {
        font-size: 3.5rem;
    }
}